.explore-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.explore-menu h1 {
  color: #7c158e;
  font-weight: 500;
}

.explore-menu p {
  font-size: 1.1rem;
  color: #cd49e4;
  line-height: 1.5;
}

.explore-menu-text {
  max-width: 60%;
  columns: #cd49e4;
}

.explore-menu-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  text-align: center;
  margin: 20px 0px;
  overflow-x: scroll;
}

.explore-menu-list-item img {
  width: 7.5vw;
  min-width: 80px;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.2s;
}

.explore-menu-list-item p {
  margin-top: 10px;
  color: #590f66;
  font-size: max(1.4vw, 16px);
  cursor: pointer;
}

.explore-menu hr {
  margin: 10px 0;
  height: 2px;
  background-color: #590f66;
  border: none;
}

.explore-menu-list-item .active {
  border: 4px solid #590f66;
  padding: 4px;
}

@media (max-width: 1050px) {
  .explore-menu-text {
    max-width: 100%;
    font-size: 14px;
  }
}
