.add {
  width: 70%;
  margin-left: max(5vw, 25px);
  margin-top: 50px;
  color: #6d6d6d;
  font-size: 16px;
}

hr {
  height: 1px;
  background-color: #a9a9aa;
}

.app-content {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add {
  width: 70%;
  margin-left: max(5vw, 25px);
  margin-top: 50px;
  color: #6d6d6d;
  font-size: 16px;
}

.add .form {
  gap: 20px;
}

.add-img-upload img {
  width: 120px;
}
.add-product-name,
.add-product-description {
  width: max(60%, 300px);
}

.add-product-name input,
.add-product-description textarea {
  padding: 10px;
}

.add-category-price {
  display: flex;
  gap: 30px;
}

.add-category-price,
.add-category-price input {
  max-width: 120px;
  padding: 10px;
}

.add-btn {
  max-width: 120px;
  padding: 10px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}
