.header {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 80vh;
  overflow: hidden;
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 120px;
}

.header-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.header-contents {
  position: relative;
  z-index: 1;
  text-align: center;
  color: #6f1a89;
  max-width: 600px;
  padding: 20px;
  animation: fadeIn 3s ease-in-out;
}

.header-contents h2 {
  font-size: 2.83rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.header-contents p {
  font-size: 1.3rem;
  color: #bc4fde;
  margin-bottom: 30px;
  line-height: 1.5;
}

.header-contents button {
  padding: 12px 24px;
  font-size: 1rem;
  background-color: #8e21b0;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.header-contents button:hover {
  background-color: #bc4fde;
}

@media (max-width: 768px) {
  .header {
    min-height: 60vh;
    padding-top: 80px;
  }

  .header-contents h2 {
    font-size: 2rem;
  }

  .header-contents p {
    font-size: 1rem;
  }
}

@media (max-width: 1500px) {
  .header-contents {
    max-width: 45%;
  }
}

@media (max-width: 750px) {
  .header-contents {
    max-width: 65%;
  }

  .header-contents h2 {
    display: none;
  }

  .header-contents button {
    padding: 2vw 4vw;
  }
}
