.navbar {
  margin-bottom: 5px;
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  width: 150px;
  cursor: pointer;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 50px;
  color: #49557e;
  font-size: 18px;
}

.navbar-menu a {
  cursor: pointer;
  text-decoration: none;
  color: #49557e;
  transition: 0.3s;
}

.navbar-menu a:hover {
  color: #c221de;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar-right .search-icon {
  width: 30px;
  cursor: pointer;
}

.navbar-search-icon img {
  width: 35px;
  cursor: pointer;
}

.navbar-search-icon .cart-amount {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: tomato;
  top: -8px;
  right: -8px;
  border-radius: 50%;
  font-size: 12px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar button {
  background: transparent;
  font-size: 16px;
  color: #49557e;
  border: 1px solid #c221de;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.navbar button:hover {
  background: #c221de;
  color: white;
}

.navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid #c221de;
  color: #c221de;
}

.navbar-profile {
  position: relative;
}

.navbar-profile img {
  width: 35px;
  cursor: pointer;
}

.nav-profile-dropdown {
  position: absolute;
  display: none;
  right: 0;
  z-index: 1;
  list-style: none;
  background-color: #fff2ef;
  padding: 12px 25px;
  border-radius: 4px;
  border: 1px solid #c221de;
  outline: 2px solid white;
  min-width: 150px;
}

.navbar-profile:hover .nav-profile-dropdown {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav-profile-dropdown li {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.nav-profile-dropdown li:hover p {
  color: #c221de;
}

.nav-profile-dropdown img {
  width: 20px;
}

.nav-profile-dropdown p {
  margin: 0;
  font-size: 16px;
  color: #49557e;
  transition: 0.3s;
}

.nav-profile-dropdown hr {
  height: 1px;
  background-color: #c221de;
  border: none;
  margin: 5px 0;
}

@media (max-width: 1050px) {
  .navbar .logo {
    width: 140px;
  }

  .navbar-menu {
    gap: 20px;
    font-size: 17px;
  }
  .navbar-right {
    gap: 30px;
  }

  .navbar-right img {
    width: 22px;
  }

  .navbar-right button {
    padding: 8px 25px;
  }
}

@media (max-width: 900px) {
  .navbar .logo {
    width: 120px;
  }

  .navbar-menu {
    gap: 15px;
    font-size: 16px;
  }
  .navbar-right {
    gap: 20px;
  }

  .navbar-right img {
    width: 20px;
  }

  .navbar-right button {
    padding: 7px 20px;
    font-size: 15px;
  }
}

@media (max-width: 750px) {
  .navbar-menu {
    display: none;
  }

  .navbar-right {
    gap: 15px;
  }

  .navbar-right button {
    padding: 5px 15px;
    font-size: 14px;
  }
}
