.navbar {
  margin-bottom: 5px;
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  width: 150px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 50px;
  color: black;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar button {
  background: rgb(220, 217, 217);
  font-size: 16px;
  color: black;
  border: 1px solid tomato;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.navbar button:hover {
  background: tomato;
  color: white;
}

.navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid tomato;
}
